.header_phone,
.address {
  color: $blackPearl;
  font-family: $MyriadPro;
  font-size: 0.9rem;
  text-decoration: none;
}
.address {
  margin-right: 10px;
}
.header_phone[href^="tel:"] {
  color: $blackPearl;
  text-decoration: none;
  &:before {
    content: "\f10b";
    margin-right: 7px;
    font-family: FontAwesome;
  }
}
.address[href^="mailto:"] {
  color: $blackPearl;
  text-decoration: none;
  &:before {
    content: "\f003";
    margin-right: 7px;
    font-family: FontAwesome;
  }
}
.header_top_social_networks {
  .header_bottom_icon {
    &:nth-of-type(1) {
      padding: 1px 6px 3px 9px;
    }
    &:nth-of-type(2) {
      padding: 1px 4px 3px 7px;
    }
    &:nth-of-type(3) {
      padding: 1px 8px 3px 7px;
    }
  }
}
.header_bottom_icon {
  text-decoration: none;
  color: $black;
  border: 1px solid #c4c6c9;
  border-radius: 50%;
  margin-right: 5px;
}
.header_top {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
}
.header_bottom {
  background: url(../images/banner_header.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.header_bottom_navigation {
  width: 100%;
  background: rgba(0, 49, 113, 0.2);
  box-shadow: 0 1px 5px #003171;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    .container {
      width: 80%;
      margin: 0;
      .row {
        display: flex;
        padding: 0;
        justify-content: space-between;
        margin-bottom: 0;
      }
    }
  }
}
.header_bottom_logotype {
  width: 10%;
}
.header_bottom_navigation_item {
  list-style: none;
  padding: 0;
}
.header_bottom_navigation_item_link {
  color: $azure;
  line-height: 48px;
  transition: all 1s;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  &:hover {
    color: $azure;
    text-decoration: none;
    transition: all 1s;
    border-bottom: 2px solid $azure;
  }
}
.header_bottom_tittle_text {
  color: $azure;
  font-family: $Poppins;
  font-size: 4vw;
  font-weight: 800;
  line-height: 1.2;
  margin: 98px 0 50px 108px;
}
.header_bottom_tittle_android {
  background: url(../images/android.png);
  background-repeat: no-repeat;
  background-position: 20px center;
  border: 1px solid $white;
  border-radius: 5px;
  padding: 8px 32px 8px 70px;
  color: $white;
  font-family: $Poppins;
  font-size: 0.9rem;
  font-weight: 400;
  span {
    font-weight: 600;
  }
}
.header_bottom_tittle_ios {
  background: url(../images/ios.png);
  background-repeat: no-repeat;
  background-position: 20px center;
  border: 1px solid $white;
  border-radius: 5px;
  padding: 8px 32px 8px 70px;
  color: $white;
  font-family: $Poppins;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 20px;
  span {
    font-weight: 600;
  }
}
.header_bottom_tittle_btn {
  display: flex;
  margin-left: 50px;
  align-items: center;
  margin-left: 108px;
}
.header_bottom_container {
  display: flex;
}
.header_bottom_container_img {
}
@media (max-width: 1200px) {
  .header_top {
    .wrapper {
      padding: 10px 50px;
    }
  }
  .header_bottom_navigation {
    padding: 0 50px;
  }
}
@media (max-width: 992px) {
  .header_bottom_navigation {
    display: block;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .header_bottom_navigation {
    .container {
      .row {
        flex-wrap: wrap;
      }
    }
  }
}
@media (max-width: 576px) {
  .header_top {
    .wrapper {
      padding: 10px 15px;
      flex-direction: column;
      width: 100%;
    }
  }
  .header_top_contact {
    margin-bottom: 15px;
    text-align: center;
    .address {
      margin-bottom: 10px;
    }
  }
}
