/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
body {
  font-size: 14px;
  font-weight: 400;
  font-family: $OpenSans;
  color: $white;
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

h1 {
  color: $azure;
  font-size: 1.8rem;
  font-weight: 700;
  span {
    font-weight: 400;
    margin-left: 5px;
  }
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }
}

h2 {
  color: $blackPearl;
  font-family: $Oswald;
  font-size: 2.1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
}
h3 {
  color: $blackPearl;
  font-family: $Poppins;
  font-size: 1.2rem;
  margin-bottom: 0;
}
hr {
  width: 70px;
  height: 0.5px;
  background-color: $blackPearl;
  margin: 5px 0 26px 0;
}
p {
  margin-bottom: 0;
}
@media (max-width: 576px) {
  h2 {
    font-size: 1.5rem;
  }
}
