@font-face {
  font-family: "Myriad Pro";
  src: url(../../fonts/MyriadPro-Regular.woff) format("woff"),
    url(../../fonts/MyriadPro-Regular.ttf) format("true-type"),
    url(../../fonts/) format("opentype");
  font-weight: 400;
  font-style: normal;
}
