$Lato: "Lato", sans-serif;
$OpenSans: "Open Sans", sans-serif;
$Oswald: "Oswald", sans-serif;
$Poppins: "Poppins", sans-serif;
$Roboto: "Roboto", sans-serif;
$MyriadPro: "Myriad Pro", sans-serif;

$white: #fff;
$blackPearl: #161e26;
$black: #000;
$endeavour: #174f9c;
$gumbo: #6c8784;
$lochmara: #26679e;
$deepSkyBlue: #00bff3;
$navyBlue: #1a84ce;
$azure: #ecf0f1;
$whisper: #eee;
$sapphire: #142a7a;
$denim: #2666ce;
$endeavour8C: #1c4e8c;
$curiousBlue: #3271bf;
$denimBBF: #286bbf;
$nero: #252525;
$prussianBlue: #002e58;
$blueLagoon: #044f67;
$madison: #293d51;
$sherpaBlue: #004058;
$prussianBlue171: #003171;
$resolutionBlue: #293d85;
$denim1C0: #1d61c0;
$blueWhale: #002d42;
$denim2A8: #0f62a8;
$freeSpeechRed: #b90000;
$deYork: #7cc576;
