/*FEATURES start*/
.features {
  text-align: center;
  padding-bottom: 57px;
}
.features_container {
  max-width: 962px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.features_container_left_top,
.features_container_right_top,
.features_container_left_bottom {
  display: flex;
  margin-bottom: 30px;
}
.features_container_img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.features_container_text_text {
  color: $gumbo;
  font-family: $Roboto;
}
.features_container_text {
  max-width: 193px;
  text-align: left;
}
.features_container_right_top,
.features_container_right_bottom {
  display: flex;
  flex-direction: row-reverse;
}
.features_container_center {
  background: url(../images/mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  img {
    max-width: 85%;
    margin-top: 47px;
  }
}
.features_container_right {
  .features_container_img {
    margin-left: 30px;
  }
  .features_container_text {
    text-align: right;
    hr {
      margin-left: 63%;
    }
  }
}
@media (max-width: 992px) {
  .features_container {
    justify-content: center;
  }
}
@media (max-width: 768px) {
}
/*FEATURES end*/
