.our_partners {
  padding: 57px 0 60px;
  background: $whisper;
  .wrapper {
    .container {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
.our_partners_link {
  max-width: 20%;
  cursor: pointer;
}
.our_partners_img {
  width: 100%;
}
@media (max-width: 1200px) {
  .our_partners {
    padding: 20px 0;
    .wrapper {
      h2 {
        margin-bottom: 20px;
      }
      .container {
        max-width: 100%;
      }
    }
  }
}
@media (max-width: 576px) {
  .our_partners {
    padding-bottom: 10px;
    .wrapper {
      .container {
        flex-wrap: wrap;
      }
    }
  }
  .our_partners_link {
    max-width: 45%;
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
  }
  .our_partners_img {
    width: 50%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
  .our_partners {
    .wrapper {
      .container {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
  .our_partners_link {
    max-width: 49%;
    margin-bottom: 25px;
  }
}
