.screenshots {
  padding: 54px 0 100px;
  .wrapper {
    text-align: center;
  }
}
.screenshots_container {
  display: flex;
  align-items: inherit;
  min-width: 0;
  .d-flex {
    &:nth-of-type(1) {
      flex-direction: column;
      padding: 0;
      .d-flex {
        flex-direction: row;
        margin-bottom: 3px;
        width: 100%;
        .screenshots_img {
          width: 49%;
        }
      }
      .screenshots_img {
        width: 99%;
      }
    }
    &:nth-of-type(2) {
      flex-direction: column;
      padding: 0;
      .screenshots_img {
        &:nth-of-type(1) {
          height: 60%;
        }
        &:nth-of-type(2) {
          height: 39%;
        }
      }
    }
    &:nth-of-type(2) {
      .screenshots_img {
        &:nth-of-type(1) {
          margin-bottom: 3px;
        }
      }
    }
  }

  .screenshots_img {
    margin-right: 3px;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    object-fit: fill;
  }
}
@media (max-width: 1200px) {
  .screenshots {
    .wrapper {
      max-width: 90%;
    }
  }
  .screenshots_container {
    min-width: 100%;
    padding: 0;
  }
}
@media (max-width: 576px) {
  .screenshots_container {
    height: 100vh;
    flex-wrap: wrap;
    justify-content: left;
    .d-flex {
      margin: 0;
      &:nth-of-type(1) {
        max-width: 49%;
        height: 60vh;
        .d-flex {
          max-width: 100%;
          height: 40%;
          .screenshots_img {
            height: 100%;
          }
        }
        .screenshots_img {
          height: 59%;
          max-width: 100%;
        }
      }
      &:nth-of-type(2) {
        flex-direction: row;
        margin-top: 3px;
        height: 40vh;
        .screenshots_img {
          width: 50% !important;
          height: 100% !important;
        }
      }
    }
    .screenshots_img {
      max-width: 49%;
      height: 60vh;
    }
  }
  .screenshots {
    padding: 30px 0;
    .wrapper {
      h2 {
        margin-bottom: 20px;
      }
    }
  }
}
