.screenshots {
  padding: 53px 0 100px;
  text-align: center;
}
.screenshots_container_img {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}
.screenshots_container {
  overflow: hidden;
  height: 528px;
}
.screenshots_container_center_top {
  display: flex;
  min-height: 45%;

  .screenshots_container_img {
    &:nth-of-type(1) {
      margin-right: 3px;
    }
  }
}
.screenshots_container_center {
  display: flex;
  flex-direction: column;
  padding: 0 3px;
  height: 100%;
}
.screenshots_container_left,
.screenshots_container_right {
  padding: 0;
  height: auto;
}
.screenshots_container_center_bottom {
  margin-top: 3px;
}
.screenshots_container_right {
  height: 100%;
  .screenshots_container_img {
    &:nth-of-type(2) {
      margin-top: 3px;
      min-height: 45%;
    }
  }
}
.screenshots_container_left {
  height: 100%;
  .screenshots_container_img {
    min-height: 100%;
  }
}
@media (max-width: 1200px) {
  .screenshots_container_center_top {
    .screenshots_container_img {
      max-width: 49.5%;
      &:nth-of-type(2) {
        overflow: hidden;
      }
    }
  }
  .screenshots_container {
    max-height: 528px;
    height: auto;
  }
  .screenshots_container_left {
    height: auto;
  }
  .screenshots_container_right {
    height: auto;
  }
}
@media (max-width: 992px) {
  .screenshots {
    .wrapper {
      .container {
        max-width: 90%;
      }
    }
  }
}
@media (max-width: 768px) {
}
