.screenshots {
  padding: 53px 0 100px;
  text-align: center;
}
.screenshots_container_img {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.screenshots_container {
  height: 100%;
  max-height: 528px;
  border: 1px solid red;
  overflow: hidden;
}
.screenshots_container_center_top {
  display: flex;
  .screenshots_container_img {
    width: 49.5%;
    &:nth-of-type(1) {
      margin-right: 3px;
    }
  }
}
.screenshots_container_center {
  display: flex;
  flex-direction: column;
}
.screenshots_container_left,
.screenshots_container_center,
.screenshots_container_right {
  padding: 0 1.5px;
  height: auto;
}
.screenshots_container_center_bottom {
  margin-top: 3px;
}
.screenshots_container_right {
  .screenshots_container_img {
    &:nth-of-type(1) {
      margin-bottom: 3px;
      height: 50%;
    }
    &:nth-of-type(2) {
      height: 49%;
    }
  }
}
.screenshots_container_left {
  .screenshots_container_img {
    height: 100%;
  }
}
