.video_container {
  background: $whisper;
  padding: 50px 0 82px;
}
video {
  height: inherit;
  margin-right: 28px;
  object-fit: cover;
  width: 100%;
}
#video_player video,
#video_player figcaption {
  display: table-cell;
  vertical-align: top;
}
#video_player {
  display: flex;
  font-size: 0;
  background: transparent;
  height: 508px;
  width: 100%;
  margin: 0;
  figcaption {
    background-color: #161e26;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: auto;
    a {
      display: flex;
      padding: 10px;
      text-decoration: none;
      height: 126px;
      img {
        max-width: 40%;
        height: 100%;
        object-fit: cover;
        border: 1px solid $white;
      }
    }
  }
}
.video_playlist {
  height: 100%;
}
.video_playlist_description {
  width: 100%;
}
#video_player figcaption a:hover {
  opacity: 1;
}
.video_playlist_description {
  padding: 10px 30px 0 30px;
}
.video_playlist_description_tittle {
  color: $white;
  font-family: $Roboto;
  font-size: 1.2rem;
}
.video_playlist_description_text {
  color: $white;
  font-family: $Roboto;
  line-height: normal;
  font-size: 1rem;
}
.con_video {
  position: relative;
  margin-right: 28px;
  width: 60%;
  height: 100%;
  transition: all 1s ease-in;
}
.video_playlist_information {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #004058;
  opacity: 0;
  padding: 32px 0 14px 43px;
  .video_playlist_information_tittle {
    color: $white;
    font-family: $Roboto;
    font-size: 1.2rem;
  }
  .video_playlist_information_text {
    color: $white;
    font-family: $Roboto;
    line-height: normal;
    font-size: 1rem;
  }
}
.con_video {
  cursor: pointer;
  &:hover {
    .video_playlist_information {
      opacity: 0.85;
      transition: all 1s ease-in;
    }
  }
}
@media (max-width: 1200px) {
  video {
    height: fit-content;
  }
  figcaption {
    height: 70vh;
    overflow: scroll;
  }
  .video_container {
    padding: 50px 20px;
  }
  .video_playlist_description_tittle {
    margin-bottom: 5px;
  }
  .video_playlist_description_text {
    font-size: 0.8rem;
  }
}
@media (max-width: 992px) {
  .video_playlist_description {
    padding: 0 0 10px 10px;
  }
  .video_playlist_description_text {
    font-size: 0.7rem;
  }
  .video_playlist {
    a {
      img {
        height: 75% !important;
      }
    }
  }
}
@media (max-width: 768px) {
  video {
    width: 100%;
    height: inherit;
    margin-bottom: 25px;
  }
  .con_video {
    width: 100%;
  }
  #video_player {
    flex-direction: column;
    width: 100%;
    height: 100%;
    figcaption {
      padding: 10px 0;
      max-height: 45vh;
      width: 100%;
      overflow-y: scroll;
      overflow-x: inherit;
      a {
        padding: 0 10px !important;
      }
    }
  }
  .video_playlist {
    a {
      height: 100px !important;
    }
  }
  .video_playlist_description_tittle {
    font-size: 1.2rem;
  }
  .video_playlist_description_text {
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  .video_playlist_description_tittle {
    font-size: 0.8rem;
  }
  .video_playlist_description_text {
    font-size: 0.6rem;
  }
  .video_container {
    padding-top: 33px;
    .wrapper {
      h2 {
        margin-bottom: 25px;
      }
    }
  }
}
